<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>修改用户名</h3><br>
<!--<div th:if="${not #strings.isEmpty(${errorMsgName})}">
    <div style="color: red;" th:text="${errorMsgName}"></div>
</div>-->
<form th:action="@{/admin/profile/name}" method="post">
    用户名：<input name="loginUserName" type="text" /><br>
    昵称：<input name="nickName" type="text" /><br>
    <input type="submit" value="提交"/><br>
</form>
<hr>
<h3>修改密码</h3>
<!--<div th:if="${not #strings.isEmpty(${errorMsgPwd})}">
    <div style="color: red;" th:text="${errorMsgPwd}"></div>
</div>-->
<form th:action="@{/admin//profile/password}" method="post">
    原密码：<input name="originalPassword" type="password"/>
    新密码：<input name="newPassword" type="password"/>
    <input type="submit" value="提交"/>
</form>
</body>
</html>